<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Prediksi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/index" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/uad.png') }}" alt="">
        <span class="d-none d-lg-block">Sistem Prediksi</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/pages-login">
                <i class="bi bi-box-arrow-right"></i>
                <span>Log Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/index">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Klasifikasi</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/klasifikasi">
              <i class="bi bi-circle"></i><span>Upload</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Hasil Klasifikasi</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/hasil-infor">
              <i class="bi bi-circle"></i><span>Informatika</span>
            </a>
          </li>
          <li>
            <a href="/hasil-industri" class="active">
              <i class="bi bi-circle"></i><span>Teknik Industri</span>
            </a>
          </li>
          <li>
            <a href="/hasil-kimia" class="active">
              <i class="bi bi-circle"></i><span>Teknik Kimia</span>
            </a>
          </li>
          <li>
            <a href="/hasil-elektro" class="active">
              <i class="bi bi-circle"></i><span>Teknik Elektro</span>
            </a>
          </li>
          <li>
            <a href="/hasil-tekpang" class="active">
              <i class="bi bi-circle"></i><span>Teknologi Pangan</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/user">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Hasil Klasifikasi</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Hasil-Informatika</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                  <a href="{{ url_for('.download_infor') }}" class="btn btn-sm btn-primary"
                      style="margin-bottom: 1rem;">Download</i></a>
              </div><!-- /.col -->
          </div><!-- /.row -->
      </div><!-- /.container-fluid -->

    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="form-group">
              <center>
                <h5>Hasil Klasifikasi Mahasiswa Lulus Tepat Waktu dan Tidak Tepat Waktu</h5>
            </center>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">NIM</th>
                                        <th scope="col">Nama</th>
                                        <th scope="col">Prodi</th>
                                        <th scope="col">Lama Penulisan</th>
                                        <th scope="col">SKS</th>
                                        <th scope="col">IPK</th>
                                        <th scope="col">TOEFL</th>
                                        <th scope="col">Hasil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for d in data %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ d.nim }}</td>
                                        <td>{{ d.nama }}</td>
                                        <td>{{ d.prodi }}</td>
                                        <td>{{ d.lama_penulisan }}</td>
                                        <td>{{ d.sks }}</td>
                                        <td>{{ d.ipk }}</td>
                                        <td>{{ d.toefl }}</td>
                                        <td>{{ d.class }}</td>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      
                        </div>
                    <!-- /.direct-chat-pane -->
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6>Jumlah Mahasiswa Informatika Yang Lulus Tepat Waktu dan
                                    Tidak Tepat Waktu</h6>
                            </div>
                            <div class="card-body">
                                <p> Jumlah Mahasiswa Informatika Yang Lulus Tidak Tepat Waktu
                                    adalah {{data0}}</p>
                                <p> Jumlah Mahasiswa Informatika Yang Lulus Tepat Waktu
                                    adalah {{data1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h6>Hasil Klasifikasi Mahasiswa Informatika</h6>
                            </div>
                            <div class="card-body">
                                <img src="{{ url_for('static',filename='assets/img/pred_infor.png')}}"
                                    id="logo" width="400px" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6>Kesimpulan</h6>
                            </div>
                            <div class="card-body">
                                <p>Mahasiswa yang lulus tepat waktu masuk kedalam kriteria lama penulisan kurang dari sama dengan 7 bulan,
                                  nilai toefl minimal, 400, dan nilai IPK minimal 2,00.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- Akhir kode hasil prediksi -->

            <!-- Line Chart -->
            <div id="lineChart"></div>

        </div>
    </div>
</div>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Dita Islamiati</span></strong>
    </div>
    <div class="credits">
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


</body>

</html>